@font-face {
  font-family: Baskerville;
  src: url(Baskerville.woff2) format('woff2'), url(Baskerville.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Baskerville;
  src: url(Baskerville-Bold.woff2) format('woff2'), url(Baskerville-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
