@import 'reset';

body {
  font-family: Roboto;
  font-size: 1.6rem;
  margin: 2rem;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

.expected {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid red;
  padding: 5px;
  margin: 5px 0;
}

.bot {
  margin: 2rem 0;
}

.options {
  display: flex;
  width: 75rem;
  justify-content: space-between;
  margin: 2rem 0;
  text-decoration: underline;
}

.botArtist {
  color: red;
}

.botUser {
  color: green;
}
