@import 'reset';

:root {
  --red: #fc5c5c;
  --darkred: #d64949;
  --grey: #484848;
  --lightgrey: #e7e7e7;
}

body {
  font-family: Baskerville;
  color: var(--red);
  font-size: 100%;
}

main {
  padding-bottom: 15rem;
}

h1 {
  font-size: 3rem;
  font-family: Baskerville;
}

.hidden {
  display: none;
}

/* CSS */

.active {
  background-color: var(--red);
  padding: .5rem;
}

.active-dekstop {
  border: 2px solid var(--red);
  padding: .5rem;
}

.main-navigation {
  background-color: var(--grey);
  font-family: LucidaGrande;
  padding: .5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  & ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & li {
    width: 6.1rem;
  }

  & a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;

    display: flex;
    flex-flow: column;
    align-items: center;

    & span {
      margin-top: 1rem;
    }
  }

  & .tourStartButton {
    margin-top: -4rem;
  }

  & .tourStartButton a {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.header-beeld {
  margin-top: .1rem;
  left: 1rem;
  position: absolute;
  bottom: 0;
}

.header-logo {
  margin-top: 1rem;
  margin-left: 1rem;
}

.home {

  & .header-logo {
    position: absolute;
    z-index: 9;
  }

  & .home-noblog {
    font-size: 3rem;
    text-align: center;
    margin: 5rem 0;
  }

  & .header {
    background-image: url(../assets/img/background-settings.png);
    background-size: cover;
  }

  & .header-comp {
    height: 16rem;
    margin: 0 auto;
    position: relative;
  }

  & .header-text {
    background-color: var(--grey);
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    width: 20rem;
    height: 7rem;
    border-radius: 0 17px 17px;
    padding: 1rem;
    position: absolute;
    top: 7rem;
    right: 1rem;
  }

  & .title {
    font-weight: bold;
    font-size: 1.9rem;
    width: 90%;
    margin: 0 auto;

  }

  & .title h2 {
    padding-bottom: 1.3rem;
  }
}

.secondBlogItem {
  display: none;
}

.blogItem {
  width: 100%;
  border-left: .4rem solid var(--red);
  padding: 0 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid var(--lightgrey);
  border-bottom: 1px solid var(--lightgrey);

  & .blogItem-title {
    color: var(--grey);
    font-size: 2.4rem;
    padding-bottom: 1.2rem;
    padding-top: 1rem;
  }

  & .blogItem-title::after {
    content: '';
    display: block;
    width: 4.4rem;
    height: .4rem;
    background-color: var(--red);
  }

  & .blogItem-text {
    color: var(--grey);
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }

  & .blogItem-text-preview {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .blogItem-detail,  & .blogItem-all {
    text-decoration: none;
    color: var(--red);
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  & .blogItem-all {
    font-style: italic;
  }

  & .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.socialmedia {

  & .socialmedia-list {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }
}

.artist {
  width: 22rem;
  margin: auto;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.artist-name {

  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;

  & span {
    border: .2rem solid var(--red);
    padding: 1rem;
  }
}

.artist-liveyears {
  border: .2rem solid var(--red);
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 5.3rem;
  margin-top: 1.1rem;
}

/*Info page */

.info {

  & .header {
    background: url(../assets/img/background-settings.png);
    background-size: cover;
  }

  & .socialmedia .socialmedia-list {
    width: 100%;
  }

  & .info-map {
    width: 100%;
  }
}

.infoItem {

  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;

  & .infoItem-text {
    font-size: 2.2rem;
    padding-bottom: 2rem;
  }
}

.infoItem-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  padding: 1rem 0;
}

.itemsTop {
  background: url(../assets/img/background-settings.png);
  background-size: cover;
  background-position: 0 -56px;
  padding-bottom: 3rem;
}

.infoItemTop {

  & .infoItem-title {
    color: white;
  }

  & .infoItem-text {
    color: white;
  }
}

.speedSelector {
  font-size: 2.4rem;
  width: 90%;
  color: white;

  & li {
    padding: 1rem;
  }

  & .activeSpeed {
    font-weight: bold;
    border: 1px solid white;
    width: 8rem;
  }
}

.bug-title {
  display: block;
}

.bugText {
  font-size: 1.4rem;
  margin: .4rem 0;
}

.infoItem .bug-submit {
  border: none;
  font-family: Baskerville;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.bug-area {
  border: .2rem solid var(--red);
  width: 100%;
  height: 10rem;
}

.blog {

  & .header {
    background-image: url(../assets/img/background-settings.png);
    background-size: cover;
    height: 20rem;
    position: relative;
  }

  & .header-beeld {
    bottom: 4rem;
    left: calc(50% - 7rem);
  }

  & .blog-title {
    font-size: 2.5rem;
    color: white;
    background-color: var(--red);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 4.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .filter ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: .4rem 0;
    border-top: .1rem solid #cbcbcb;
    color: var(--grey);
  }

  & .filter li {
    padding: 1.6rem;
    border-top: .2rem solid white;
  }

  & .filter .activeArtist {
    color: var(--red);
    border-top: .2rem solid var(--red);
  }

  & .blog-empty {
    font-size: 2rem;
    text-align: center;
    padding-top: 4rem;
  }

  & .blogfilter-artist {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.tourstart {
  background: url(/assets/img/background_bot.png);
  min-height: 100vh;

  & .artist {
    color: white;
  }

  & .artist-name span, & .artist-liveyears {
    border-color: white;
  }

  & .artist-liveyears {
    margin-left: 12rem;
  }

  & main {
    position: relative;
  }
}

.ensorBackground {
  background-image: url(../assets/img/ensorStaandDone.png);
  background-repeat: no-repeat;
  background-position: 0 30%;
  position: fixed;
  height: 100%;
  width: 100%;
  /*z-index: -98;*/
}

.bot-data {
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  width: 80%;
}

.botItem {
  font-size: 1.8rem;
  display: inline-block;
  padding: 1rem;
  margin: 1rem 0;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.botArtist {
  background-color: white;
  color: var(--grey);
  border: 1px solid white;
  border-radius: 0 17px 17px;
}

.botUser {
  background-color: var(--grey);
  color: white;
  border: 1px solid var(--grey);
  border-radius: 17px 0 17px 17px;
  align-self: flex-end;
  font-family: LucidaGrande;
}

.options {
  display: flex;
  width: 90%;
  font-size: 2rem;
  margin: 2rem auto;
  justify-content: space-between;

  & a {
    text-decoration: none;
    color: white;
  }
}

.tourContainer {

  & .tourImage {
    width: 100%;
    max-height: 100%;
  }

  & .tour-workname {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem;
  }

  & .currentTourText {
    color: black;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 80%;
    margin: 2rem auto;
  }

  & .prev {
    text-align: center;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .2);
  }
}

.button {
  width: 13rem;
  height: 6rem;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: var(--red);
  margin: 0 auto;
  border: none;
  text-decoration: none;
  font-family: Baskerville;
  border-bottom: .5rem solid var(--darkred);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogitem-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.blogitem-back {
  font-size: 2rem;
  color: white;
  border: .1rem solid white;
  text-transform: uppercase;
  width: 9.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}

.blogitem-image {
  width: 100%;
  padding-bottom: 8rem;
}

.blogitem-artist {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top: .2rem solid var(--red);
  display: inline-block;
  margin: 1.5rem 0;
  padding: .8rem 0;
}

.blogItemDetail {
  border-left: none;
  display: flex;
  flex-flow: column;
  align-items: center;

  & .blogItem-title {
    align-self: flex-start;
  }
}

.opties {

  & .header {
    background: url(../assets/img/background-settings.png);
    background-size: cover;
  }
}

.bookmark {

  background: url(../assets/img/background-onboarding.png);
  background-size: 100% 30rem;
  background-repeat: no-repeat;

  & video {
    width: 40%;
    display: block;
    margin: 0 auto;
  }

  & .bookmark-walkthrough {
    color: black;
    font-size: 1.6rem;
    list-style-type: decimal;
    padding-left: 2rem;
    margin: 2rem auto;
    width: 90%;
  }

  & .bookmark-walkthrough li {
    padding-bottom: 2rem;
  }

  & .button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.chooseArtist {

  background: url(../assets/img/desktop-header.png);
  background-size: auto 50%;
  background-repeat: repeat-x;

  & .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & .slider-img {
    width: 100%;
    height: 100%;
  }

  & .slideritem-active {
    width: 40%;
  }

  & .slideritem-inactive {
    filter: grayscale(80%);
    width: 30%;
  }

  & .chooseArtist-title {
    width: 60%;
    margin: 3rem auto;
  }

  & .chooseArtist-title span {
    font-size: 2rem;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    padding: .5rem;
    display: inline-block;
  }

  & .chooseArtist-artistName {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
  }

  & .chooseArtist-artistHandle, & .chooseArtist-artistBio {
    color: var(--grey);
    margin: 1.6rem 0;
    font-size: 2rem;
    font-family: LucidaGrande;
    text-align: center;
  }

  & .button {
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 3rem;
  }
}

.snelheid-flex {
  display: flex;
  justify-content: space-between;
  width: 110%;

  & li {
    border: 1px solid rgba(255, 255, 255, .7);
    padding: .9rem;
    width: 8rem;
    text-align: center;
  }
}

.speed-normal {
  border: 1px solid rgba(255, 255, 255, .7);
  padding: .9rem;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 2rem;
}

.activeSpeedNormal {
  border: 1px solid white;
  font-weight: bold;
  width: 15rem;
  text-align: center;
  margin-bottom: 2rem;
}

.blogLink {
  text-decoration: none;
}

.blogItemHome {
  text-decoration: none;
}

.bug-btn {
  font-size: 3rem;
  justify-content: center;
  margin-top: 1rem;
}

.tour-nextbutton {
  margin-top: 1rem;
}

.end-bot {
  margin-top: 13rem;
}

.photo {

  & .img {
    width: 90%;
  }

  & .file-label {
    display: block;
    font-size: 3rem;
  }
}

.file-input {
  visibility: hidden;
}

.botFoto {
  background-color: white;
  color: var(--grey);
  border: 1px solid white;
  border-radius: 0 17px 17px;
  padding: 2rem;
  margin-left: 8rem;
  position: absolute;
  top: 4rem;
  font-size: 1.8rem;
}

.foto {
  width: 16rem;
}

.file-label {
  margin-top: 8rem;
}

.fotoBold {
  font-weight: bold;
}

.blogadmin {
  font-size: 2rem;

  & .header {
    background-image: url(../assets/img/background-settings.png);
    background-size: cover;
    height: 16rem;
    position: relative;
  }

  & .blogadmin-title {
    font-size: 3rem;
    color: white;
    margin: 2rem 1rem;
  }

  & input, & textarea {
    border: 1px solid var(--red);
    display: block;
    width: 60%;
  }
}

.desctop-keuze-titel {

  width: 100%;

  & a {
    color: var(--red);
    font-size: 2.4rem;
    text-decoration: none;
  }
}

.desktop-main {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.desktop {

  & .header {
    background-image: none;
    height: 10rem;
  }

  & .sidebar {
    background-image: url(../assets/img/desctopBG.png);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 45rem;
  }
}

.desktop-navigation {

  display: flex;
  justify-content: flex-end;
  width: 83%;
  margin-top: 6rem;

  & ul {
    display: flex;
    width: 24rem;
    justify-content: space-between;

    & a {
      font-size: 2.4rem;
      color: var(--red);
      text-decoration: none;
      padding: 1rem;
    }
  }
}

.desktop-open {
  color: white;
  font-size: 3.1rem;
  text-align: center;
  margin-top: 12rem;
}

.desktop-open::after {
  content: '';
  display: block;
  width: 70.4px;
  width: 4.4rem;
  height: 6.4px;
  height: .4rem;
  background-color: white;
  margin: auto;
  margin-top: 2rem;
}

.desktop-logo {
  position: absolute;
  z-index: 9;
  top: 2rem;
  left: 2rem;
}

.desktop-open-check {
  color: white;
  font-size: 3.6rem;
  text-align: center;
  margin-top: 1rem;
}

.home-tekst {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--grey);
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 17px 17px 0;
  width: 25rem;
}

.home-tekst-eerste {
  margin: 5rem 0 0 15rem;
}

.home-tekst-tweede {
  margin: 3rem 0 0 9rem;
}

.trigger {

  text-align: center;
  margin-top: 2rem;

  & p {
    color: white;
    font-size: 2.6rem;
  }

  & .mobile-preview {
    width: 16%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & .trigger-ervaring {
    font-size: 2.3rem;
  }

}

.desktop .home-titles header {
  margin: 0;
}

.desktop .socialmedia-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  & li {
    margin: 2rem 5rem 0 0;
  }
}

.desktop-blog-bio {
  font-size: 2rem;
  color: white;
  margin-top: 16rem;
}

.bio-header {
  text-align: center;

  & h2 {
    font-size: 3.6rem;
  }

  & .bio-years {
    margin-top: 2rem;
  }

  & p::after {
    content: '';
    display: block;
    width: 70.4px;
    width: 4.4rem;
    height: 6.4px;
    height: .4rem;
    background-color: white;
    margin: auto;
    margin-top: 2rem;
  }
}

.blog-logo {
  top: -4rem;
  position: absolute;
}

.bio-text {

  margin-top: 5rem;
  margin-bottom: 6rem;

  & li {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.desktop-blog-pos {
  margin-top: 2rem;
}

@media (width >= 480px) {

  .home .header {

    & .header-comp {
      width: 38rem;
    }

    & .header-text {
      right: 0;
    }

    & .header-beeld {
      left: 0;
    }
  }
}

.desktop-blog {
  margin-left: 50rem;
}

.desktop-artist {
  margin: 0;
}

.desktop-artist-name {
  margin-top: 6rem;
}

.desktop-blogs {
  width: calc(100vw - 50rem);
}

.blog .desktop-blog-pos .filter-pos {
  width: 75%;
}

.blogItem-all {
  margin: 0 0 2rem;
}

@media (width >= 570px) {

  .button {
    width: 19rem;
    text-align: center;
    vertical-align: middle;
  }

  .secondBlogItem {
    display: block;
  }

  .home .title {
    margin-top: 5rem;
    font-size: 2.4rem;
  }

  .artist {
    margin: 6rem auto -2rem;
  }

  .blog .blog-empty {
    font-size: 3rem;
  }

  .blogItem .blogItem-text-preview {
    width: 50rem;
  }

  .blogItem .blogItem-detail {
    font-size: 2rem;
  }

  .botItem {
    width: 65%;
  }

  .botUser {
    width: 40%;
  }

  .artist .tourTitle {
    margin-left: 5.5rem;
  }

  .tourContainer .tour-workname {
    margin-top: 8rem;
  }

  .tourstart {
    background-size: cover;
  }

  .foto {
    width: 36rem;
  }

  .botFoto {
    font-size: 2.5rem;
  }
}

@media (width >= 768px) {

  .ensorBackground {
    background-image: url(../assets/img/ensorStaandDone.png);
    background-repeat: no-repeat;
    background-position: 0 75%;
    position: fixed;
    height: 100%;
    width: 100%;
    /*z-index: -98;*/
  }
}

@media (width >= 960px) {

  main {
    margin: 0 auto;
  }

  .secondBlogItem {
    margin-top: 5rem;
  }

  .home .title h2 {
    padding-bottom: 3.3rem;
  }

  .blog-container {
    margin-top: 9rem;
    margin-bottom: 10rem;
  }

  .artist {
    margin: 10rem auto -2rem;
    width: 29rem;
  }

  .artist-liveyears {
    font-size: 2.6rem;
  }

  .artist-name {
    font-size: 3.5rem;
  }

  .socialmedia a {
    width: 10rem;
    height: 10rem;
  }

  .tourContainer .tour-workname {
    margin-top: 12rem;
    font-size: 4rem;
  }

  .tourContainer .currentTourText {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  .blogItem .blogItem-text-preview {
    width: 80rem;
  }

  .botItem {
    width: 55%;
  }

  .botUser {
    width: 30%;
  }

  .ensorBackground {
    background-image: url(../assets/img/ensorStaandDone.png);
    background-repeat: no-repeat;
    background-position: 0 75%;
    background-size: 20%;
    position: fixed;
    height: 107%;
    width: 100%;
    /*z-index: -98;*/
  }

  .itemsTop {
    width: 100vw;
    margin-left: 0;
    margin-left: -3.2rem;
    margin-top: -1px;
  }
}
