@import 'reset';

:root {
  --red: #fc5c5c;
  --darkred: #d64949;
  --grey: #484848;
  --lightgrey: #e7e7e7;
}

body {
  font-family: Baskerville;
  color: var(--red);
  font-size: 100%;
}

main {
  padding-bottom: 15rem;
}

h1 {
  font-size: 3rem;
  font-family: Baskerville;
}

.hidden {
  display: none;
}

/* CSS */

.active {
  background-color: var(--red);
  padding: .5rem;
}

.main-navigation {
  background-color: var(--grey);
  font-family: LucidaGrande;
  padding: .5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  & ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & li {
    width: 6.1rem;
  }

  & a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;

    display: flex;
    flex-flow: column;
    align-items: center;

    & span {
      margin-top: 1rem;
    }
  }

  & .tourStartButton {
    margin-top: -4rem;
  }

  & .tourStartButton a {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.header-beeld {
  margin-top: .1rem;
  left: 1rem;
  position: absolute;
  bottom: 0;
}

.header-logo {
  margin-top: 1rem;
  margin-left: 1rem;
}

.home {

  & .header-logo {
    position: absolute;
    z-index: 9;
  }

  & .header {
    background-image: url(../assets/img/background-settings.png);
    background-size: cover;
    height: 16rem;
    position: relative;
  }

  & .header-text {
    background-color: var(--grey);
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    width: 20rem;
    height: 7rem;
    border-radius: 0 17px 17px;
    padding: 1rem;
    position: absolute;
    top: 7rem;
    right: 1rem;
  }

  & .title {
    font-weight: bold;
    font-size: 1.9rem;
    width: 90%;
    margin: 0 auto;

  }

  & .title h2 {
    padding-bottom: 1.3rem;
  }
}

.blogItem {
  width: 100%;
  border-left: .4rem solid var(--red);
  padding: 0 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid var(--lightgrey);
  border-bottom: 1px solid var(--lightgrey);

  & .blogItem-title {
    color: var(--grey);
    font-size: 2.4rem;
    padding-bottom: 1.2rem;
    padding-top: 1rem;
  }

  & .blogItem-title::after {
    content: '';
    display: block;
    width: 4.4rem;
    height: .4rem;
    background-color: var(--red);
  }

  & .blogItem-text {
    color: var(--grey);
    font-size: 1.8rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  & .blogItem-text-preview {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .blogItem-detail,  & .blogItem-all {
    text-decoration: none;
    color: var(--red);
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  & .blogItem-all {
    font-style: italic;
  }

  & .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.socialmedia {

  & .socialmedia-list {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }
}

.artist {
  width: 22rem;
  margin: auto;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.artist-name {

  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;

  & span {
    border: .2rem solid var(--red);
    padding: 1rem;
  }
}

.artist-liveyears {
  border: .2rem solid var(--red);
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 5.3rem;
  margin-top: 1.1rem;
}

/*Info page */

.info {

  & .header {
    background: url(../assets/img/background-settings.png);
    background-size: cover;
  }

  & .socialmedia .socialmedia-list {
    width: 100%;
  }

  & .info-map {
    width: 100%;
  }
}

.infoItem {

  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;

  & .infoItem-text {
    font-size: 2.2rem;
    padding-bottom: 2rem;
  }
}

.infoItem-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  padding: 1rem 0;
}

.itemsTop {
  background: url(../assets/img/background-settings.png);
  background-size: cover;
  background-position: 0 -56px;
  padding-bottom: 3rem;
}

.infoItemTop {

  & .infoItem-title {
    color: white;
  }

  & .infoItem-text {
    color: white;
  }
}

.speedSelector {
  font-size: 2.4rem;
  width: 90%;
  color: white;

  & li {
    padding: 1rem;
  }

  & .activeSpeed {
    font-weight: bold;
    border: 1px solid white;
    width: 8rem;
  }
}

.bug-title {
  display: block;
}

.infoItem .bug-submit {
  border: none;
  font-family: Baskerville;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.bug-area {
  border: .2rem solid var(--red);
  width: 100%;
  height: 10rem;
}

.blog {

  & .header {
    background-image: url(../assets/img/background-settings.png);
    background-size: cover;
    height: 20rem;
    position: relative;
  }

  & .header-beeld {
    bottom: 4rem;
    left: calc(50% - 7rem);
  }

  & .blog-title {
    font-size: 2.5rem;
    color: white;
    background-color: var(--red);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 4.8rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .filter ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: .4rem 0;
    border: .1rem solid #cbcbcb;
    color: var(--grey);
  }

  & .filter li {
    padding: 1.6rem;
    border-top: .2rem solid white;
  }

  & .filter .activeArtist {
    color: var(--red);
    border-top: .2rem solid var(--red);
  }

  & .blog-empty {
    font-size: 2rem;
    text-align: center;
    padding-top: 4rem;
  }

  & .blogfilter-artist {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.tourstart {
  background: url(/assets/img/background_bot.png);
  min-height: 100vh;

  & .artist {
    color: white;
  }

  & .artist-name span, & .artist-liveyears {
    border-color: white;
  }

  & .artist-liveyears {
    margin-left: 12rem;
  }

  & main {
    position: relative;
  }
}

.ensorBackground {
  background-image: url(../assets/img/ensorStaandDone.png);
  background-repeat: no-repeat;
  /*background-position: bottom left;*/
  position: fixed;
  height: 100%;
  width: 100%;
  /*z-index: -98;*/
}

.bot-data {
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  width: 80%;
}

.botItem {
  font-size: 1.8rem;
  display: inline-block;
  padding: 1rem;
  margin: 1rem 0;
  width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.botArtist {
  background-color: white;
  color: var(--grey);
  border: 1px solid white;
  border-radius: 0 17px 17px;
}

.botUser {
  background-color: var(--grey);
  color: white;
  border: 1px solid var(--grey);
  border-radius: 17px 0 17px 17px;
  align-self: flex-end;
  font-family: LucidaGrande;
}

.options {
  display: flex;
  width: 90%;
  font-size: 2rem;
  margin: 2rem auto;
  justify-content: space-between;

  & a {
    text-decoration: none;
    color: white;
  }
}

.tourContainer {

  & .tourImage {
    width: 100%;
  }

  & .tour-workname {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem;
  }

  & .currentTourText {
    color: black;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 80%;
    margin: 2rem auto;
  }

  & .prev {
    text-align: center;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .2);
  }
}

.button {
  width: 13rem;
  height: 6rem;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  background-color: var(--red);
  margin: 0 auto;
  border: none;
  text-decoration: none;
  font-family: Baskerville;
  border-bottom: .5rem solid var(--darkred);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogitem-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.blogitem-back {
  font-size: 2rem;
  color: white;
  border: .1rem solid white;
  text-transform: uppercase;
  width: 9.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}

.blogitem-image {
  width: 100%;
  padding-bottom: 8rem;
}

.blogitem-artist {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top: .2rem solid var(--red);
  display: inline-block;
  margin: 1.5rem 0;
  padding: .8rem 0;
}

.blogItemDetail {
  border-left: none;
  display: flex;
  flex-flow: column;
  align-items: center;

  & .blogItem-title {
    align-self: flex-start;
  }
}

.opties {

  & .header {
    background: url(../assets/img/background-settings.png);
    background-size: cover;
  }
}

.bookmark {

  background: url(../assets/img/background-onboarding.png);
  background-size: 100% 30rem;
  background-repeat: no-repeat;

  & video {
    width: 40%;
    display: block;
    margin: 0 auto;
  }

  & .bookmark-walkthrough {
    color: black;
    font-size: 1.6rem;
    list-style-type: decimal;
    padding-left: 2rem;
    margin: 2rem auto;
    width: 90%;
  }

  & .bookmark-walkthrough li {
    padding-bottom: 2rem;
  }

  & .button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.chooseArtist {

  background: url(../assets/img/background-onboarding.png);
  background-size: 100% 50%;
  background-repeat: no-repeat;

  & .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & img {
    width: 100%;
  }

  & .slideritem-active {
    width: 40%;
  }

  & .slideritem-inactive {
    filter: grayscale(80%);
    width: 30%;
  }

  & .chooseArtist-title {
    width: 60%;
    margin: 3rem auto;
  }

  & .chooseArtist-title span {
    font-size: 2rem;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    padding: .5rem;
    display: inline-block;
  }

  & .chooseArtist-artistName {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
  }

  & .chooseArtist-artistHandle, & .chooseArtist-artistBio {
    color: var(--grey);
    margin: 1.6rem 0;
    font-size: 2rem;
    font-family: LucidaGrande;
    text-align: center;
  }

  & .button {
    display: block;
  }
}

.snelheid-flex {
  display: flex;
  justify-content: space-between;
  width: 110%;

  & li {
    border: 1px solid rgba(255, 255, 255, .7);
    padding: .9rem;
    width: 8rem;
    text-align: center;
  }
}

.speed-normal {
  border: 1px solid rgba(255, 255, 255, .7);
  padding: .9rem;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 2rem;
}

.activeSpeedNormal {
  border: 1px solid white;
  font-weight: bold;
  width: 15rem;
  text-align: center;
  margin-bottom: 2rem;
}

.blogLink {
  text-decoration: none;
}

.blogItemHome {
  text-decoration: none;
}

.bug-btn {
  font-size: 3rem;
  justify-content: center;
  margin-top: 1rem;
}

.tour-nextbutton {
  margin-top: 1rem;
}

.end-bot {
  margin-top: 13rem;
}

.photo {

  & .img {
    width: 90%;
  }

  & .file-label {
    display: block;
    font-size: 3rem;
  }

  & .file-input {
    visibility: hidden;
  }
}
